@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Inter thin */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 100;
  }

  /* Inter extralight */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 200;
  }

  /* Inter light */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 300;
  }

  /* Inter regular */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 400;
  }

  /* Inter medium */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 500;
  }

  /* Inter semibold */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 600;
  }

  /* Inter bold */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 700;
  }

  /* Inter extrabold */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 800;
  }

  /* Inter black   */
  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 900;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Masqualero';
    src: url('/fonts/Masqualero Regular.otf') format('opentype');
    font-weight: normal;
  }

  @font-face {
    font-family: 'Masqualero';
    src: url('/fonts/Masqualero Bold.otf') format('opentype');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Masqualero';
    src: url('/fonts/Masqualero Black.otf') format('opentype');
    font-weight: black;
  }

  @font-face {
    font-family: 'Masqualero DemiBold';
    src: url('/fonts/Masqualero DemiBold.otf') format('opentype');
    font-weight: normal;
  }
}

@layer components {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge /
    scrollbar-width: none;  / Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  outline: none !important;
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
